/* p {
  font-size: 20px;
  color: red;
}

#titre1 {
  font-style: normal;
}

.text-italic {
  font-style: italic;
} */

/* .technos {
  color: red;
} */

/* Tous les <div> enfants directs d'une classe .technos */
.technos > div {
  color: red;
}

/* Tous les <div> enfants  d'une classe .technos */
.technos div {
  color: red;
}
